@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #app {
    height: 100%;
  }
  body {
    @apply min-h-screen bg-gray-50 text-gray-800 antialiased dark:bg-gray-900 dark:text-gray-100;
  }
}
